@charset "UTF-8";
* {
    box-sizing: border-box;
}
.content{
    min-height: calc(100vh - 60px) /* you have to minus header and footer width 
    together*/
}
body {
    margin: 1px auto;
    /* max-width:1920px; */
    line-height:1.4;
    color:rgb(240, 238, 225);
    background-color: rgb(1,1,1);
    font-size:18px;
    padding:0 7px;
    /* height: 100%; */
}
.header {
    background-color: rgb(1,1,1);
    /* background-image: url('resources/imgs/image_0000.png'); */
    text-align: center;
    padding: 0px;
    font-family: cantique, Times, serif;
}
.column {
    float: left;
    padding: 3px;
}
.column.top {
    float: left;
    padding: 3px;
}
.column.left {
    width: 18%;
    background-color: rgb(1,1,1);
    /* opacity: 0; */
    color:rgb(240, 238, 225);
    font-family: angel_wish, Times, serif;
    /* border-right: 1px solid; */
    padding: 19px;
    font-size:21px;
    /* position: fixed; */
}
.column.right {
    display: table;
    width: 64%;
    background-color: rgb(1,1,1);
    color:rgb(240, 238, 225);
    font-family: cantique, Times, serif;
    padding: 19px;
}
.column.side {
    width: 18%;
    float: right;
    background-color: rgb(1,1,1);
    /* opacity: 0; */
    color:rgb(240, 238, 225);
    font-family: enochian, Times, serif;
    /* border-right: 1px solid; */
    padding: 19px;
    /* position: fixed; */
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column.left, .column.right, column.side {
     width: 100%;
    }
}
.footer {
    background-color: rgb(1,1,1);
    color:rgb(89, 109, 109);
    text-align: center;
    padding: 0px;
    font-family: enochian, Times, serif;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 0; 
    margin-bottom: -10px;
    height: 60px;            
}
.tab { margin-left: 13px; }
.tab-2 { margin-left: 40px; }
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
iframe {
    max-width: 100%;
    height: auto\9;
    width: auto\9; /* ie8 */
}
.centered-thing {
    position: relative;
    margin: auto;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}
.light-mode {
    background-color: rgb(240, 238, 225);
    color: rgb(2, 2, 2);
}
.collapsible {
    background-color: rgb(1,1,1);
    color: rgb(240, 238, 225);
    cursor: pointer;
    padding: 7px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 21px;
    font-family: angel_wish, Times, serif;
}
.menu {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(1,1,1);
  }
/* quick reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  /* relevant styles */
  .img__wrap {
    position: relative;
    height: 256px;
    width: 480px;
    display: table-cell;
    vertical-align: middle;
  }
  
  .img__description {
    text-align: center;
    position: absolute;
    line-height: 256px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(1,1,1, 0.3);
    color: rgb(240, 238, 225);
    visibility: hidden;
    opacity: 0;
    vertical-align: middle;
    font-size: 31;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }

/* hyperlinks */
a:link {
    color:rgb(240, 238, 225);
    background-color: transparent;
    font-family: angel_wish, Times, serif;
    text-decoration: none;
}
a:visited {
    color:rgb(240, 238, 225);
    background-color: transparent;
    font-family: angel_wish, Times, serif;
    text-decoration: none;
}
a:hover {
    color:rgb(240, 238, 225);
    background-color: transparent;
    font-family: angel_wish, Times, serif;
    text-decoration: underline;
}
a:active {
    color:rgb(240, 238, 225);
    background-color: transparent;
    font-family: angel_wish, Times, serif;
    text-decoration: underline;
}

/* fonts */ 
/* @font-face {
    font-family: source_serif;
    src: url(resources/fonts/SourceSerifPro-ExtraLight.ttf);
    font-style: normal;
    font-weight: 200;
  }
@font-face {
    font-family: source_serif_italic;
    src: url(resources/fonts/SourceSerifPro-ExtraLightItalic.ttf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: source_serif_reg;
    src: url(resources/fonts/SourceSerifPro-Regular.ttf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: modern_cybertronic;
    src: url(resources/fonts/Modern_Cybertronic.ttf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: new_alphabet;
    src: url(resources/fonts/New-Alphabet.woff);
    font-style: normal;
    font-weight: 200;
} */
@font-face {
    font-family: enochian;
    src: url(resources/fonts/Enochian.otf);
    font-style: normal;
    font-weight: 200;
}
/* @font-face {
    font-family: healthgoth;
    src: url(resources/fonts/HealthGoth-Regular.otf);
    font-style: normal;
    font-weight: 200;
} */
@font-face {
    font-family: angel_wish;
    src: url(resources/fonts/Angel\ wish.ttf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: akihibara;
    src: url(resources/fonts/akihibara_hyper.ttf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: cantique;
    src: url(resources/fonts/cantique-master/fonts/Cantique-Normal.otf);
    font-style: normal;
    font-weight: 200;
}
/* @font-face {
    font-family: isenheim;
    src: url(resources/fonts/isenheim-main/fonts/OpenType-PS/Isenheim_Fin.otf);
    font-style: normal;
    font-weight: 200;
} */
/* scroll bar */
body::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(1,1,1);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(161, 160, 148);    /* color of the scroll thumb */
  border-radius: 1px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(161, 160, 148)e;  /* creates padding around scroll thumb */
}